# Database Configuration (Prisma optional for local tools)
# DATABASE_URL="postgres://username:password@host:port/database"

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL="https://xjyajodopzdcdpnsvhiv.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqeWFqb2RvcHpkY2RwbnN2aGl2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA4Mjk4MDAsImV4cCI6MjA3NjQwNTgwMH0.eTkyw7NGDde9PgHC-Ki9qea5VT2orTxbDdVY2icb9V8"

# Smart Contract Configuration
NEXT_PUBLIC_POOL_MANAGER_ADDRESS=0x7EF2e0048f5bAeDe046f6BF797943daF4ED8CB47
NEXT_PUBLIC_REEF_RPC_URL=http://34.123.142.246:8545
NEXT_PUBLIC_REEF_CHAIN_ID=13939

# WalletConnect (optional)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_project_id

# Email Configuration
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=noreply@yourdomain.com
ADMIN_EMAIL=admin@yourdomain.com

# Optional: Analytics
GOOGLE_ANALYTICS_ID=your_ga_id